#navigation-tree .nav {
    margin-bottom: 0;
}
#navigation-tree .nav li.hidden {
    border-left: 2px dotted orange;
}
#navigation-tree ul li .nav-pills {
    border-bottom: none;
    border-top: 1px dotted #DDDDDD;
}
#navigation-tree ul li ul {
    padding-left: 10px;
}
#navigation-tree ul li ul li ul {
    padding-left: 20px;
}
#navigation-tree ul li ul li ul li ul {
    padding-left: 30px;
}
#navigation-tree ul li ul li ul li ul li ul {
    padding-left: 40px;
}
#navigation-list .nav {
    margin-bottom: 0;
}
#navigation-list .nav li.hidden {
    border-left: 2px dotted orange;
}
#navigation-list ul li .nav-pills {
    border-bottom: none;
    border-top: 1px dotted #DDDDDD;
}
#navigation-list .nav-list-careted {
    padding-right: 3px;
    display: inline;
}
#navigation-list .nav-list-caret {
    padding-left: 2px;
    padding-right: 2px;
}
#navigation-list a.gap0 {
    padding-left: 2em;
}
#navigation-list a.gap {
    padding-left: 3em;
}
#navigation-list a.gap1 {
    padding-left: 3em;
}
#navigation-list a.gap2 {
    padding-left: 4em;
}
#navigation-list a.gap3 {
    padding-left: 5em;
}
#navigation-list a.gap4 {
    padding-left: 6em;
}
#navigation-list a.gap5 {
    padding-left: 7em;
}
.lineage a.gap0 {
    padding-left: 2em;
}
.lineage a.gap1 {
    padding-left: 3em;
}
.lineage a.gap2 {
    padding-left: 4em;
}
.lineage a.gap3 {
    padding-left: 5em;
}
.lineage a.gap4 {
    padding-left: 6em;
}
.lineage a.gap5 {
    padding-left: 7em;
}
.lineage a.gap6 {
    padding-left: 8em;
}
.lineage a.gap7 {
    padding-left: 9em;
}
.lineage a.gap8 {
    padding-left: 10em;
}

/* padding-left for nav-header items in menu */
/* First, specific slots that have classes,  */
/* then the more general selector to cover   */
/* the top and beforebodyend locations.      */
div.left-column ul.dropdown-menu li.nav-header {
    padding-left: 0px;
}
div.right-column ul.dropdown-menu li.nav-header {
    padding-left: 0px;
}
div.above-content ul.dropdown-menu li.nav-header {
    padding-left: 30px;
}
div.below-content ul.dropdown-menu li.nav-header {
    padding-left: 30px;
}
/* A more general selector */
ul.dropdown-menu li.nav-header {
    padding-left: 30px;
}
