#navigation-tree .nav {
    margin-bottom: 0;
}
#navigation-tree .nav li.hidden {
    border-left: 2px dotted orange;
}
#navigation-tree ul li .nav-pills {
    border-bottom: none;
    border-top: 1px dotted #DDDDDD;
}
#navigation-tree ul li ul {
    padding-left: 10px;
}
#navigation-tree ul li ul li ul {
    padding-left: 20px;
}
#navigation-tree ul li ul li ul li ul {
    padding-left: 30px;
}
#navigation-tree ul li ul li ul li ul li ul {
    padding-left: 40px;
}
#navigation-list .nav {
    margin-bottom: 0;
}
#navigation-list .nav li.hidden {
    border-left: 2px dotted orange;
}
#navigation-list ul li .nav-pills {
    border-bottom: none;
    border-top: 1px dotted #DDDDDD;
}
#navigation-list .nav-list-careted {
    padding-right: 3px;
}
#navigation-list .nav-list-caret {
    padding-left: 2px;
    padding-right: 2px;
}
#navigation-list a.gap0 {
    padding-left: 2em;
}
#navigation-list a.gap {
    padding-left: 3em;
}
#navigation-list a.gap1 {
    padding-left: 3em;
}
#navigation-list a.gap2 {
    padding-left: 4em;
}
#navigation-list a.gap3 {
    padding-left: 5em;
}
#navigation-list a.gap4 {
    padding-left: 6em;
}
#navigation-list a.gap5 {
    padding-left: 7em;
}
